* {
    /* See https://stackoverflow.com/questions/779434/how-do-i-prevent-the-padding-property-from-changing-width-or-height-in-css. */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */

    scroll-behavior: smooth;
    scrollbar-color: #303030 #252525; /* moz */

    /* The rectangle debugger. */
    /*/border: 2px dashed orange;/*/
}

html {
    width: 100%;
    height: 100%;
}
body {
    min-height: 100%;
}
html,
body,
main,
nav,
section,
footer,
img,
table,
tr,
th,
td,
ul,
ol,
figure,
figcaption,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

.ptz {
    padding-top: 0px;
}
.prz {
    padding-right: 0px;
}
.pbz {
    padding-bottom: 0px;
}
.plz {
    padding-left: 0px;
}

.ptt {
    padding-top: 5px;
}
.prt {
    padding-right: 5px;
}
.pbt {
    padding-bottom: 5px;
}
.plt {
    padding-left: 5px;
}

.ptm {
    padding-top: 15px;
}
.prm {
    padding-right: 15px;
}
.pbm {
    padding-bottom: 15px;
}
.plm {
    padding-left: 15px;
}

.ptt {
    padding-top: 20px;
}
.prt {
    padding-right: 20px;
}
.pbt {
    padding-bottom: 20px;
}
.plt {
    padding-left: 20px;
}

.wz {
    width: 0px;
}
.wt {
    width: 5px;
}
.wm {
    width: 15px;
}
.wt {
    width: 20px;
}

.hz {
    height: 0px;
}
.ht {
    height: 5px;
}
.hm {
    height: 15px;
}
.ht {
    height: 20px;
}

.bsz {
    border-spacing: 0px;
}
.bst {
    border-spacing: 5px;
}
.bsm {
    border-spacing: 15px;
}
.bst {
    border-spacing: 20px;
}

.brm {
    border-radius: 10px;
}

.zero-box {
    padding: 0;
}
.thin-box {
    padding: 5px;
}
.med-box {
    padding: 15px;
}
.thick-box {
    padding: 20px;
}

.zero-margin {
    margin: 0;
}
.thin-margin {
    margin: 5px;
}
.med-margin {
    margin: 15px;
}
.thick-margin {
    margin: 20px;
}

.reading-box {
    max-width: 64em;
    width: 100%;
    margin: 0 auto;
}
.main-box {
    padding: 0px 20px;
}
.nav-box,
.header-box,
.footer-box {
    padding: 5px 20px;
}
.section-box {
    padding: 40px 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figcaption,
blockquote,
table,
ul,
ol,
li {
    color: inherit;
}
h1,
h2 {
    padding: 15px 5px;
}
h1 {
    font-size: max(2rem, 4vh);
}
h2 {
    font-size: xx-large;
    text-align: left;
}
h3,
h4,
h5,
h6,
p,
figcaption,
blockquote {
    font-size: inherit;
}
blockquote {
    display: flex;
}
blockquote::before {
    content: "";

    flex-direction: row;
    min-width: 5px;
    margin: 0px 10px;
}
h3,
h4,
h5,
h6,
p,
figcaption,
blockquote,
.content-box {
    padding: 0px 5px 15px 5px;
}
li > p,
li > h3,
li > h4,
li > h5,
li > h6,
li > figcaption,
li > blockquote,
li > .content-box {
    padding: 0px 0px 15px 0px;
}

img {
    display: block;
}

table,
tr {
    border-spacing: 5px 0px;
}
th {
    text-align: left;
}
ul,
ol {
    padding: 0px 0px 15px 2em;
}
