@page {
    background-color: #1f293710;

    @footnote {
        color: #1f2937;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }

    @bottom-left {
        background-color: #1f2937;
        color: white;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    @bottom-center {
        color: #1f2937;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    @bottom-right {
        color: #1f2937;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
}

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

.accent-color-1 {
    color: #ed771d;
}
.accent-color-2 {
    color: #1f2937;
}
.accent-color-bg-1 {
    background-color: #ed771d;
}
.accent-color-bg-2 {
    background-color: #1f2937;
}

.info-box {
    background-color: #0044ff66;
    border: 2px solid #0044ff12;
}
.warning-box {
    background-color: #ff000088;
    border: 2px solid #ff00001b;
}

body {
    background-color: #1f293710;
}
nav {
    background-color: white;
    box-shadow: 0 4px 20px -20px #111;
}
header {
    background-color: #1f2937;
    color: white;
}
main {
    color: #1f2937;
}
.footer {
    background-color: #1f2937;
    color: white;
}

h1,
h2 {
    font-family: "Red Hat Display", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h3,
h4,
h5,
h6,
p,
figcaption,
blockquote,
table,
li {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    text-align: center;
    text-shadow: 0.08em 0.08em #1f293722;
}

a {
    color: #1f2937;
    text-decoration: 0.12em underline #ed771d;
    font-weight: bold;
}
a.unstyled {
    text-decoration: none;
    color: inherit !important;
    font-weight: inherit;
}
blockquote::before {
    color: gray;
    background-color: gray;
}
