---
permalink: "{{ page.filePathStem }}.html"
eleventyComputed:
  metadata:
    title: "Hello, world!"
    favicon: "data:image/png;base64, {{ 'res/common/favicon.png' | embed64 }}"
    theme_color: "#ed771d"
    keywords: "API, CMS, Yellow Chemistry Publishing"
    description: "The default test page for the Yellow Chemistry Publishing API."
    reply_to: "engineering@yellowchemistrypublishing.org"
    copyright: "{% year %} Yellow Chemistry Publishing"
---

<!DOCTYPE html>

<html lang="en-AU">

<head>
    {% include "res/includes/head_metadata.html" %}

    <style>
        {% include "css/default.css" %}
    </style>
    <style>
        {% include "css/themes/yel-chem-research-light.css" %}
    </style>
</head>

<body style="display: flex; flex-direction: column;">
    <main class="main-box reading-box" style="display: flex; flex-direction: column; align-items: flex-start; flex: 1;">
        <h1>Hello, world!</h1>
        <p>
            Welcome to the standard test page for <a href="https://api.yellowchemistrypublishing.org">api.yellowchemistrypublishing.org</a>. If you see this page, it means that the server is running and the API is live.
            This API is primarily used by <a href="https://cms.yellowchemistrypublishing.org" target="_blank">cms.yellowchemistrypublishing.org</a>, but it is also available for public use, should you wish.
            You can use the API to access various resources and services provided by Yellow Chemistry Publishing.
        </p>
    </main>
    <footer class="footer-box" style="display: flex; flex-direction: row;">
        <img class="content-box" src="data:image/svg+xml;base64, {{ "res/common/Yellow Chemistry Research Logo (Light).svg" | embed64 }}" alt="Yellow Chemistry Research Logo" style="width: 4em; margin: 0 auto 0 0;">
    </footer>
</body>

</html>